apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
        - image: nginx:alpine
          name: guestbook-ui
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /etc/nginx/conf.d/
              name: config-volume
            - mountPath: /usr/share/nginx/nice
              name: pv-storage

      volumes:
        - name: config-volume
          configMap:
            name: guestbook-ui-config
        - name: pv-storage
          persistentVolumeClaim:
            claimName: guestbook-pv-claim